#!/bin/bash

#PBS -A {account}
#PBS -N filter_run
#PBS -l walltime=00:10:00
#PBS -q regular
#PBS -j oe
#PBS -k eod
#PBS -l select=1:ncpus=32:mpiprocs=32:ompthreads=1

cd assim

# obs sequence file
unlink obs_seq.out

ln -s $OBS_SEQ obs_seq.out
mpiexec_mpt ./filter

filter_exit=$?
if [ $filter_exit -eq "0" ]; then  # filter run was sucessful

   filename=$(basename -- "$OBS_SEQ")
   extension="${filename##*.}"

   mv obs_seq.final obs_seq.final.$extension

else
  exit $filter_exit
fi
